<ul class="list-group" data-ng-controller="OudersController" data-ng-init="find()">
    <li data-ng-repeat="ouder in ouders" class="list-group-item">
        <small class="list-group-item-text">
            <span data-ng-bind="ouder.voornaam"></span>
            <span data-ng-bind="ouder.familienaam"></span>
        </small>
        <span class="pull-right">
            <a class="btn btn-success btn-xs" href="/#!/ouders/{{ouder._id}}">
                <i class="glyphicon glyphicon-info-sign"></i>
            </a>
            <!--Dit moet een modal dialog worden-->
            <a class="btn btn-warning btn-xs" href="/#!/ouders/{{ouder._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-danger btn-xs" data-ng-click="remove(ouder);">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </span>
    </li>
</ul>

<div class="alert alert-warning text-center" data-ng-hide="!ouders.$resolved || ouders.length">
    Er bestaan nog geen ouders in de databank.
</div>