<section data-ng-controller="InschrijvingsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Bewerk Inschrijving</h1>
    </div>

    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Kind</label>
                    <div class="controls">
                        <input type="text" ng-model="inschrijving.kind" id="name" class="form-control"required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Vakantie</label>
                    <div class="controls">
                        <input type="text" ng-model="inschrijving.vakantie" id="name" class="form-control" required>
                    </div>
                </div>
               <div class="form-group">
                    <label class="control-label" for="name">Reeds betaald</label>
                    <div class="controls">
                        <input type="checkbox" ng-model="inschrijving.betaald" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">contactpersoon</label>
                    <div class="controls">
                        <input type="text" ng-model="inschrijving.contactpersoon" id="name" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>