<section data-ng-controller="InschrijvingsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="inschrijving.kind"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == inschrijving.user._id">
		<a class="btn btn-primary" href="/#!/inschrijvings/{{inschrijving._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<p data-ng-bind="inschrijving.vakantie"></p>
		<p data-ng-bind="inschrijving.betaald"></p>
		<p data-ng-bind="inschrijving.contactpersoon"></p>
	</small>
</section>