<ul class="list-group" data-ng-controller="VakantiesController" data-ng-init="find()">
    <li data-ng-repeat="vakantie in vakanties" class="list-group-item">
        <small class="list-group-item-text">
            <span data-ng-bind="vakantie.naam"></span>
        </small>
        <span class="pull-right">
            <a class="btn btn-success btn-xs" href="/#!/vakanties/{{vakantie._id}}">
                <i class="glyphicon glyphicon-info-sign"></i>
            </a>
            <!--Dit moet een modal dialog worden-->
            <a class="btn btn-warning btn-xs" href="/#!/vakanties/{{vakantie._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-danger btn-xs" data-ng-click="remove(vakantie);">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </span>
    </li>
</ul>

<div class="alert alert-warning text-center" data-ng-hide="!vakanties.$resolved || vakanties.length">
    Er bestaan nog geen vakanties in de databank.
</div>