<ul class="list-group" data-ng-controller="KindsController" data-ng-init="find()">
    <li data-ng-repeat="kind in kinds" class="list-group-item">
        <small class="list-group-item-text">
            <span data-ng-bind="kind.voornaam"></span>
            <span data-ng-bind="kind.familienaam"></span>
        </small>
        <span class="pull-right">
            <a class="btn btn-success btn-xs" href="/#!/kinds/{{kind._id}}">
                <i class="glyphicon glyphicon-info-sign"></i>
            </a>
            <!--Dit moet een modal dialog worden-->
            <a class="btn btn-warning btn-xs" href="/#!/kinds/{{kind._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-danger btn-xs" data-ng-click="remove(kind);">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </span>
    </li>
</ul>

<div class="alert alert-warning text-center" data-ng-hide="!kinds.$resolved || kinds.length">
    Er bestaan nog geen kinderen in de databank.
</div>